<div class="surface-ground flex align-items-center justify-content-center h-screen">
  <div class="surface-card p-4 border-round shadow-2 w-10 sm:w-8 md:w-6 lg:w-4">
    <h1 class="text-center">GOOD JOB</h1>
    <form>
      <div class="field mb-4">
        <input type="text" id="prenom" placeholder="Prénom" required pInputText class="p-inputtext w-full" />
      </div>
      <div class="field mb-4">
        <input type="text" id="nom" placeholder="Nom" required pInputText class="p-inputtext w-full" />
      </div>
      <div class="field mb-4">
        <input type="email" id="email" placeholder="Adresse e-mail" required pInputText class="p-inputtext w-full" />
      </div>
      <div class="field mb-4">
        <input type="tel" id="telephone" placeholder="Numéros de téléphone" required pInputText class="p-inputtext w-full" />
      </div>
      <div class="field mb-4">
        <input type="password" id="password" placeholder="Mot de passe" required pInputText class="p-inputtext w-full" />
      </div>
      <div class="field-checkbox mb-4">
        <input type="checkbox" id="terms" required class="p-checkbox p-component" />
        <label for="terms">J'accepte les <a class="text-green-700" href="#">Conditions générales</a> et reconnais avoir lu la <a href="#" class="text-green-700">Politique de confidentialité</a>.
        </label>
      </div>
      <button type="submit" class="p-button w-full justify-content-center border-green-700 bg-green-700 hover:border-green-800 hover:bg-green-800 active:border-green-900 active:border-green-900">S'inscrire</button>
    </form>
  </div>
</div>
