<div class="mx-8 my-4 px-10">
  <div class="grid">
  <div class="shadow-3 col-8 col-offset-2" >
    <div class="formgrid grid -mx-3">
      <div class="field col-10 col-offset-1 mt-3">
        <input id="offre" placeholder="Rechercher une offre" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
      </div>
      <div class="field col-12 md:col-5 col-offset-1">
        <input id="localisation" type="text" placeholder="localisation" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col-12 md:col-5">
        <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
          <option>Job</option>
          <option>Stage</option>
        </select>
      </div>
      <div class="field col-10 col-offset-1">
        <button type="button" class="w-full text-white bg-green-700 border-green-700 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-green-800 hover:border-green-800 active:bg-green-900 active:border-green-900">Soumettre</button>
      </div>
    </div>
  </div>
  </div>
</div>
