<div class="mb-3">
  <h1 class="mb-1">Donnez un titre et une description de votre besoin</h1>
  <h2 class="mt-0">préférez un titre court et clair pour énnoncer le besoin</h2>

  <form #formDescription="ngForm" novalidate class="w-full">
    <input #titleInput="ngModel" name="title" placeholder="Title" required
           class="w-full p-inputtext-lg" type="text" pInputText
           [ngModel]="description.title.value" (ngModelChange)="onTitleChange($event)"/>
    @if (titleInput.dirty && titleInput.invalid) {
      <small id="title-required" class="text-primary">In Titre est recquis</small>
    } @else {
      <div class="placeholder-validation"></div>
    }

    <textarea #descriptionInput="ngModel" name="description"
              class="w-full mt-2" required placeholder="Summary" rows="5" cols="30"
              pInputTextarea [ngModel]="description.description.value"
              (ngModelChange)="onDescriptionChange($event)"></textarea>
    @if (descriptionInput.dirty && descriptionInput.invalid) {
      <small id="description-required" class="text-primary">Une Description est recquise</small>
    } @else {
      <div class="placeholder-validation"></div>
    }
  </form>
</div>
