<div class="bg-white rounded-lg p-6">
  <section class="py-3 grid gap-4">

    <div class="flex flex-column flex-shrink-0 p-3 w-18rem shadow-2 border-round ">
      <a href="/" class="flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <i class="pi pi-sort-amount-down-alt mr-2" style="font-size: 2rem;"></i>
        <strong class="fs-4">Trier par</strong>
      </a>
      <hr>
      <ul class="list-none w-15rem p-0 m-0">
        <li class="mb-2">
          <p-dropdown [style]="{ minWidth: '15rem' }" placeholder="Plus récent" [options]="sOptions"></p-dropdown>
        </li>
      </ul>
      <hr>

      <a  class="flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <i class="pi pi-tags mr-2" style="font-size: 2rem;"></i>
        <strong class="fs-4">Catégories</strong>
      </a>
      <hr>
      <ul class="list-none p-0 m-0 mb-auto">
        <li class="mb-2">
          <a href="#" class="flex align-items-center text-decoration-none">
            <i class="pi pi-chevron-right  mr-2" style="font-size: 1.2rem;"></i>
            ALL
          </a>
          <a href="#" class="flex align-items-center text-decoration-none">
            <i class="pi pi-chevron-right mr-2" style="font-size: 1.2rem;"></i>
            DEMENAGEMENT
          </a>
          <a href="#" class="flex align-items-center text-decoration-none">
            <i class="pi pi-chevron-right mr-2" style="font-size: 1.2rem;"></i>
            NETTOYAGE
          </a>
          <a href="#" class="flex align-items-center text-decoration-none">
            <i class="pi pi-chevron-right mr-2" style="font-size: 1.2rem;"></i>
            JARDINAGE
          </a>
        </li>
      </ul>
      <hr>
    </div>

    <div class="col-8 col-offset-1">
        <div class="flex items-start gap-4 shadow-3 p-3 border-round">
          <img class="w-10rem h-10rem rounded-lg object-cover" src="assets/images/Auth0.png" />
          <div class="flex-1">
            <h2 class="text-xl font-semibold text-gray-900">Stagiaire en cyber-sécurité</h2>
            <div class="mt-2 flex items-center gap-4 text-gray-600">
              <div class="flex items-center gap-1">
                <span>Auth0</span>
              </div>
              <div class="flex items-center gap-1">
                <span>Ouagou Niaye</span>
              </div>
              <div class="flex items-center gap-1">
                <span>Aujourd'hui</span>
              </div>
            </div>
            <div class="mt-3">
              <span class="inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700">Stage</span>
              <span class="ml-2 inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700">2-Mois</span>
            </div>
            <p class="mt-3 text-gray-600 line-clamp-2">Stagiaire en cybersécurité</p>
            <div class="mt-3 text-gray-900 font-medium">80k/Mois</div>
          </div>
        </div>

        <div class="flex items-start gap-4 shadow-3 p-3 border-round">
          <img class="w-10rem h-10rem rounded-lg object-cover" src="assets/images/Auth0.png" />
          <div class="flex-1">
            <h2 class="text-xl font-semibold text-gray-900">Stagiaire en cyber-sécurité</h2>
            <div class="mt-2 flex items-center gap-4 text-gray-600">
              <div class="flex items-center gap-1">
                <span>Auth0</span>
              </div>
              <div class="flex items-center gap-1">
                <span>Ouagou Niaye</span>
              </div>
              <div class="flex items-center gap-1">
                <span>Aujourd'hui</span>
              </div>
            </div>
            <div class="mt-3">
              <span class="inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700">Stage</span>
              <span class="ml-2 inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700">2-Mois</span>
            </div>
            <p class="mt-3 text-gray-600 line-clamp-2">Stagiaire en cybersécurité</p>
            <div class="mt-3 text-gray-900 font-medium">80k/Mois</div>
          </div>
        </div>

        <div class="flex items-start gap-4 shadow-3 p-3 border-round">
          <img class="w-10rem h-10rem rounded-lg object-cover" src="assets/images/Auth0.png" />
          <div class="flex-1">
            <h2 class="text-xl font-semibold text-gray-900">Stagiaire en cyber-sécurité</h2>
            <div class="mt-2 flex items-center gap-4 text-gray-600">
              <div class="flex items-center gap-1">
                <span>Auth0</span>
              </div>
              <div class="flex items-center gap-1">
                <span>Ouagou Niaye</span>
              </div>
              <div class="flex items-center gap-1">
                <span>Aujourd'hui</span>
              </div>
            </div>
            <div class="mt-3">
              <span class="inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700">Stage</span>
              <span class="ml-2 inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700">2-Mois</span>
            </div>
            <p class="mt-3 text-gray-600 line-clamp-2">Stagiaire en cybersécurité</p>
            <div class="mt-3 text-gray-900 font-medium">80k/Mois</div>
          </div>
        </div>
      </div>

  </section>
</div>
