<div class="sticky top-0 border-bottom-1 border-gray-200 shadow-1 z-1">
 <p-toolbar [styleClass]="'bg-white border-top-none border-x-none border-normal'
  + 'sm:flex sm:justify-content-center sm:w-full md:flex md:justify-content-between px-8'">
    <div class="p-toolbar-group-start pl-1 sm:hidden md:flex cursor-pointer" routerLink="/">
     <!--  <fa-icon [icon]="['fab', 'airbnb']" size="3x" class="text-primary"></fa-icon> -->
      <img class="font-bold text-primary pl-2 text-2xl" src="assets/images/logo.png"/>
    </div>
    <div class="p-toolbar-group-end sm:hidden md:flex">
      @if(authService.isAuthenticated()){
        <a class="p-button p-button-link" (click)="openNewJob()">Ajouter un Job</a>
      }
        <p-menu #menu [model]="currentMenuItems" [popup]="true" styleClass="border-round-xl mt-1"></p-menu>
        <button (click)="menu.toggle($event)" class="menu flex align-content-center
        justify-content-around ml-2 pl-3 p-2 border-gray-300 focus:shadow-none hover:shadow-1 border-round-3xl bg-white">
            <fa-icon [icon]="'bars'" class="text-sm text-dark mr-3"></fa-icon>
            <app-avatar [imageUrl]="connectedUser.imageUrl" avatarSize="avatar-sm"></app-avatar>
        </button>
    </div>
</p-toolbar>
</div>
